
html { /*global font across whole page */
  font-family: sans-serif;
}

.create-page {
  display: none;
}

.desktop {
  display: none;
}

.tablet {
  display: none;
}

.tablet-language, .tablet-languages-ctn {
  display: none;
}
/* Mobile Section */
/* ask to download app section */

.mobile-facebook-icon {
  position: relative;
  top: -5px;
  height: 50px;
  width: 40px;
  display: inline-block;
  margin: 0;
}

.get-app-ctn {
  height: 40px;
  background-color: rgb(255,251,226);
}

.get-app {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  position: relative;
  top: -25px;
  display: inline-block;
  color: rgb(97, 116, 145);
}

/* END ask to download app section */



/* Login Section */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  /* add max and min width */
}

form h2 {
  color: rgb(24,120,242);
}

form input {
  max-width: 400px;
  margin: 5px;
  height: 40px;
  background-color: rgb(245,246,247);
  border-radius: 3px;
  border-style: none;
  box-shadow: 1px 1px 1px lightgray;
  width: 95vw;
  
}

form input::placeholder {
  padding-left: 10px;
}

.login-btn {
  max-width: 400px;
  background-color: rgb(24,120,242);
  color: white;
  height: 40px;
  width: 95vw;
  border-radius: 3px;
  border-style: none;
  font-size: 18px; 
  font-weight: bold;
  margin-top: 10px;
}

/* END Login Section */


/* Page Break Section */

.page-break-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-break {
  height: 1px;
  width: 45vw;
  margin: 0 10px;
  max-width: 180px;
  background-color: rgb(214, 214, 214);
 
}

.page-break {
  font-weight: 300;
  font-size: 15px;
}

/* END Page Break Section */



/* Sign Up Section */

.sign-up-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-btn {
  max-width: 175px;
  width: 50vw;
  height: 35px;
  font-size: 14px; 
  font-weight: bold;
  color: white;
  background-color: rgb(37,164,0);
  border-radius: 4px;
  border-style: none;
}

/* END Sign Up Section */


/* Forgot Password Section */

.forgot-password {
  text-decoration: none;
  color: rgb(115, 147, 194);
  font-size: .55em;
  font-weight: 100;
}

/* END Forgot Password Section */



/* Choose Language Section */

.languages-ctn {
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.language {
  font-size: 11px;
  margin: 5px;;
  color: rgb(104,121,160);
}

.selected-language {
  color: rgb(141, 141, 141);
  font-weight: 900;
}

.plus-icon-ctn {
  height: 15px;
  width: 25px;
  background-color: rgb(240,242,245);
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(190, 190, 190);
}

.plus-icon {
  position: absolute;
  height: 10px;
  width: 3px;
  background-color: rgb(195,198,203);
  left: 10px;
  bottom: 3px;
  
}

.plus-icon::before {
  position: absolute;
  content: '';
  height: 3px;
  width: 7px;
  background-color: rgb(195,198,203);
  top: 4px;
  right: 0px;
}

.plus-icon::after {
  position: absolute;
  content: '';
  height: 3px;
  width: 7px;
  top: 4px;
  background-color: rgb(195,198,203);
}

/* END Choose Language Section */


/* Footer Section */

.footer-more {
  width: 80%;
  font-size: 10px;
  color: rgb(110, 110, 110);
  margin: 0 auto;
  text-align: center;
}

.footer {
  display: inline;
  margin: .75vw;
}



.bullet {
  font-size: 20px;
  position: relative;
  bottom: 2px;
  color: black;
}

.trademark {
  font-size: 12px;
  font-weight: 500;
}

/* END Footer Section */

/* END Mobile Section */


/* Tablet Section */

@media screen and (min-width: 480px) {

  /* Remove and Add Styling based off screen size */

  .tablet {
    display: block;
  }

  .mobile, .get-app-ctn, .footer-more, form h2, .page-break {
    display: none;
  }

    /* END Remove and Add Styling based off screen size */


    /* Background */

  .login-background {
    position: absolute;
    background-color: rgb(240,242,245);
    height: 750px;
    width: 100%;
    top: 0;
    z-index: -5;
  }

    /* END Background */

    /* Header */


  .header-ctn {
    width: 450px;
    margin: 0 auto;
    text-align: center;
  }

  .title {
    font-size: 60px;
    color: rgb(24,120,242);
    margin-bottom: 5px;
  }

  .sub-heading {
    font-size: 28px;
    margin-top: 5px;
  }

  /* END Header */

  /* Form/create account */

  .login-create-ctn {
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    width: 350px;
    border-radius: 10px;
    box-shadow: -1px 1px 5px rgb(202, 202, 202);
  }

  /* Login Section */

  form input {
    width: 350px;
    height: 50px;
    background-color: white;
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
  }

  .login-btn {
    width: 350px;
    height: 50px;
  }

  .forgot-password {
    font-size: 15px;
    color: rgb(24,120,242);
    font-weight: 700;
    margin: 15px;
  }

  /* END Login Section */

  /* Login Page Break Section */

  .line-break {
    max-width: 1000px;
    margin: 10px 0 30px 0;
    width: 400px;
  }

  /* END Login Page Break Section */

  /* Sign Up Section */

  .sign-up-btn {
    max-width: 1000px;
    height: 50px;
    width: 200px;
    font-size: 18px;
  }

  /* END Sign Up Section */

  /* END Form/create account */

  /* Create a Page Section */

  .create-page {
    display: block;
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
  }

  .bold {
    font-weight: bold;
  }

  /* END Create a Page Section */

  .langauge-footer-ctn {
    width: 90%;
  }

  /* Choose Language Section */

  .tablet-languages-ctn {
    max-width: 1000px;
    display: flex;
    margin: 150px auto 0px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
  }

  .tablet-language {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 11px;
    margin: 5px;
    color: gray;
  }

  /* END Choose Language Section */

  /* Footer Section */

  .langauge-footer-ctn {
    margin: auto;
    max-width: 1000px;
  }

  .tablet-page-break {
    height: 1px;
    width: 100%;
    max-width: 1000px;
    background-color: rgb(212, 211, 211);
    margin: 10px auto;
  }

  .footer-tablet {
    color: rgb(97, 97, 97);
    margin-left: 0px;
    font-size: 12px;
    margin-top: 10px;
    width: 100%;
    max-width: 1000px;
  }
  
  .footer-more-tablet {
    display: inline-block;
    margin-right: 18px;
    margin-top: 0px;
    margin-bottom: 5px;
    max-width: 1000px;
  }

  .tablet-trademark {
    font-size: 12px;
    
    margin-top: 20px;
    color: rgb(97, 97, 97);
  }

  /* END Footer Section */

}

/* END Tablet Section */


/* Desktop Section */

@media screen and (min-width: 1000px) {

  .login-background {
    height: 720px;
  }

  .main-ctn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .header-ctn {
    display: inline-block;
    margin: 0;
  }

  .login-create-ctn {
    display: inline-block;
    margin-top: 100px;
  }

  .create-page {
    display: block;
  }

  .tablet-languages-ctn {
    margin: 0;
    
  }


  .langauge-footer-ctn {
    width: 100%;
    margin-top: 0;
    position: absolute;
    top: 750px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    
  }
}

/* END Desktop Section */