
html { /*global font across whole page */
  font-family: sans-serif;
}

.desktop {
  display: none;
}

.tablet {
  display: none;
}

.tablet-language, .tablet-languages-ctn {
  display: none;
}
/* Mobile Section */
/* ask to download app section */

.mobile-facebook-icon {
  position: relative;
  top: -5px;
  height: 50px;
  width: 40px;
  display: inline-block;
  margin: 0;
}

.get-app-ctn {
  height: 40px;
  background-color: rgb(255,251,226);
}

.get-app {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  position: relative;
  top: -25px;
  display: inline-block;
  color: rgb(97, 116, 145);
}

/* END ask to download app section */



/* Login Section */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  /* add max and min width */
}

form h2 {
  color: rgb(24,120,242);
}

form input {
  max-width: 400px;
  margin: 5px;
  height: 40px;
  background-color: rgb(245,246,247);
  border-radius: 3px;
  border-style: none;
  box-shadow: 1px 1px 1px lightgray;
  width: 95vw;
  
}

form input::placeholder {
  padding-left: 10px;
}

.login-btn {
  max-width: 400px;
  background-color: rgb(24,120,242);
  color: white;
  height: 40px;
  width: 95vw;
  border-radius: 3px;
  border-style: none;
  font-size: 18px; 
  font-weight: bold;
  margin-top: 10px;
}

/* END Login Section */


/* Page Break Section */

.page-break-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-break {
  height: 1px;
  width: 45vw;
  margin: 0 10px;
  max-width: 180px;
  background-color: rgb(214, 214, 214);
 
}

.page-break {
  font-weight: 300;
  font-size: 15px;
}

/* END Page Break Section */



/* Sign Up Section */

.sign-up-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-btn {
  max-width: 175px;
  width: 50vw;
  height: 35px;
  font-size: 14px; 
  font-weight: bold;
  color: white;
  background-color: rgb(37,164,0);
  border-radius: 4px;
  border-style: none;
}

/* END Sign Up Section */


/* Forgot Password Section */

.forgot-password {
  text-decoration: none;
  color: rgb(115, 147, 194);
  font-size: .55em;
  font-weight: 100;
}

/* END Forgot Password Section */



/* Choose Language Section */

.languages-ctn {
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.language {
  font-size: 11px;
  margin: 5px;;
  color: rgb(104,121,160);
}

.selected-language {
  color: rgb(141, 141, 141);
  font-weight: 900;
}

/* END Choose Language Section */


/* Footer Section */

.footer-more {
  width: 80%;
  font-size: 10px;
  color: rgb(110, 110, 110);
  margin: 0 auto;
  text-align: center;
}

.footer {
  display: inline;
  margin: .75vw;
}



.bullet {
  font-size: 20px;
  position: relative;
  bottom: 2px;
  color: black;
}

.trademark {
  font-size: 12px;
  font-weight: 500;
}

/* END Footer Section */

/* END Mobile Section */

@media screen and (min-width: 480px) {

  html {
    
  }

  .login-background {
    position: absolute;
    background-color: rgb(240,242,245);
    height: 750px;
    width: 100%;
    top: 0;
    z-index: -5;
  }

  .desktop {
    display: block;
  }

  .tablet {
    display: block;
  }

  .header-ctn {
    width: 450px;
    margin: 0 auto;
    text-align: center;
  }

  .title {
    font-size: 60px;
    color: rgb(24,120,242);
    margin-bottom: 5px;
  }

  .sub-heading {
    font-size: 28px;
    margin-top: 5px;
  }

  .get-app-ctn {
    display: none;
  }

  .login-create-ctn {
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    width: 350px;
    border-radius: 10px;
  }

  form h2 {
    display: none;
  }

  form input {
    width: 350px;
    height: 50px;
    background-color: white;
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
  }

  .login-btn {
    width: 350px;
    height: 50px;
  }

  .forgot-password {
    font-size: 15px;
    color: rgb(24,120,242);
    font-weight: 700;
    margin: 15px;
  }

  .line-break {
    max-width: 1000px;
    
    margin: 10px 0 30px 0;
    width: 400px;
  }

  .sign-up-btn {
    max-width: 1000px;
    height: 50px;
    width: 200px;
    font-size: 18px;
  }

  

  .page-break {
    display: none;
  }

  .login-create-ctn {
    box-shadow: -1px 1px 5px rgb(202, 202, 202);
  }

  .tablet-languages-ctn {
    display: flex;
    margin: 150px 90px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    height: 100px;
    align-items: center;
  }

  .tablet-language {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 11px;
    margin: 5px;
    color: rgb(104,121,160);
    
    
  }

  .plus-icon {
    text-align: center;
    width: 20px;
    height: 15px;
    border-style: solid;
    border-color: gray;
    background-color: lightgray;
    color: gray;
  }
  
  .mobile {
    display: none;
  }

  .footer-ctn {
    display: none;
  }



}