.add-name-ctn {
    font-family: sans-serif;
}

.join-facebook {
    width: 100%;
    background-color: rgb(59,89,152);
    position: relative;
    top: 0;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    text-align: center;
    vertical-align: center;
    font-size: 16px;
}

.name-info-ctn {
    width: 80%;
    margin: auto;
    
}



.create-account-title-ctn, .next-btn-ctn {
    width: 100%;
    margin: auto;
    text-align: center;
}

.enter-name {
    margin-bottom: 5px;
}

.create-name-title {
    font-size: 21px;
}

.create-name-ctn {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
}

.input-ctn label {
    display: block;
    font-size: 12px;
    color: rgb(74, 81, 97);
}

.input-ctn input {
    display: block;
    height: 35px;
    margin: 10px;
    width: 40vw;
    margin-left: 0;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-radius: 5px;
    border-width: 1px;
}

.please-name {
    display: block;
    color: red;
    margin: 0;

}

.next-btn {
     height: 35px;
     width: 60vw;
     margin-top: 10px;
     margin-bottom: 10px;
     border-style: none;
     border-radius: 5px;
     color: white;
     font-weight: bold;
     font-size: 15px;
     background-color: rgb(24,120,242);
}

.already-have-account {
    color: rgb(65, 80, 114);
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
}

.trademark-ctn {
    width: 100%;
    margin: auto;
    text-align: center;
    color: rgb(126, 126, 126);
}

.trademark {
    font-weight: bold;
}

.enter-birthday {
    font-size: 14px;
}



.birthday-label {
    display: block;
    font-size: 12px;
    color: rgb(100, 107, 138);
}

.birthday-select-ctn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 5px;
    
}

.birthday {
    display: inline-block;
    width: 25vw;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(201, 201, 201);
}

.age-ctn {
    width: 20vw;
    margin: auto;
}

.create-age, .add-number  {
    display: block;
    height: 35px;
    margin: 10px auto;
    width: 20vw;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-radius: 5px;
    border-width: 1px;
    padding-left: 10px;
}

.age-label, .phone-label {
    display: block;
    font-size: 12px;
    color: rgb(74, 81, 97);
}

.use-date-of-birth {
    color: rgb(44, 66, 117);
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}

.phone-ctn {
    margin-top: 20px;
}

.add-number {
    width: 80vw;
}

.gender-ctn {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 500;
}

.gender-label {
    margin-right: 50vw;
}

.add-gender {
    margin-right: 10vw;
}

.white-space {
    color: white;
}

.custom-gender {
    font-size: 13px;
    color: rgb(60, 68, 83);
}

.finish-sign-up {
    font-weight: 900;
    font-size: 18px;
}
 